@use '_base/reset';
// @use '_base/fonts';

// @use '_abstracts/keyframes';
// @use '_abstracts/mixins';
// @use '_abstracts/variables';

// @use '_components/main';
// @use '_components/nav_bar';
// @use '_components/ripple_button';


:root {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    width: 100vw;
}
